.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #242124;
  color: #f5f5dc;
  text-transform: uppercase;
  font-family: 'Sofia Sans Extra Condensed';
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #f5f5dc;
    color: #242124;
    border: 1px solid #242124;
  }

  &.google-sign-in {
    background-color: #1e90ff;
    color: #f5f5dc;

    &:hover {
      background-color: #125699;
      border: none;
    }
  }

  &.inverted {
    background-color: #f5f5dc;
    color: #242124;
    border: 1px solid #242124;

    &:hover {
      background-color: #242124;
      color: #f5f5dc;
      border: none;
    }
  }
}
